body {
    background: linear-gradient(180deg, blue, rgb(0, 177, 15))
}

.gameboard {
    margin-left: 30%;
    height: 500px;
    width: 500px;
    background: black;
}

.tile {
    padding: 0px;
    height: calc(100%/4 - 4px);
    width: calc(100%/4 - 4px);
    background: rgb(6, 35, 221);
    border: 2px solid black;
    float: left;
}

.tile:hover {
    background: url(../media/crosshairBlack.png);
    /* background: url(../media/crosshairRed.png); */
    
}

.drop {
    background: rgb(0, 15, 115);
}

.explosion {
    background: linear-gradient(180deg, rgb(228, 152, 11), rgb(228, 31, 31));
}

#win_flash {
    width: 500px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30%;
    color: rgb(228, 152, 11);
    font-family: fantasy;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
}

button {
    margin-top: 25px;
    margin-left: 30%;
    height: 100px;
    width: 500px;
    background: rgb(20, 157, 7);
    color: rgb(0, 41, 0);
    font-size: 40px;
    text-transform: uppercase;
    border: none;
    
}

button:hover {
    background: rgb(7, 83, 0);
}

